/*--------------------------------------*
    * layout
*--------------------------------------*/
header {
  letter-spacing: normal;
  margin-top: 60px;
  z-index: inherit;
}

/*--------------------------------------*
    * component
*--------------------------------------*/
/*--------------------------------------*
    * project
*--------------------------------------*/
body {
  color: red;
  font-size: 3rem;
}